/* 記事ページ */

/* ページ全体の設定 */
body.post {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows:
    [head] 100px
    [kiji] auto
    [submenu] auto
    [foot] 100px;
  row-gap: 20px;
  font-family: sans-serif; /* ゴシック系フォントで表示 */
  color: $kurogakiiro;
}

/* パーツの配置 */
body.post > * {
  grid-column: 2 / -2;
}

/* デスクトップ版 */
@media(min-width: 768px) {
  body.post {
    display: grid;
    grid-template-columns: 0.2fr repeat(6, 1fr) 0.2fr;
    grid-template-rows:
      [head] 100px
      [kiji submenu] auto
      [foot] 100px;
    column-gap: 5%;

    article {
      grid-column: 2 / span 4;
    }
    .submenu {
      grid-column: 6 / span 2;
    }
  }  
}
