/* mixin */
@mixin link_style($color: $sumi, $font-size: 14px){
  color: $color;
  font-size: $font-size;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    color: darken($color, 30%);
  }
}

/* 基本設定 */
* {
  margin: 0;
  box-sizing: border-box;
}

img {
  width:  100%;
  height: auto;
}

/* ページ全体の設定 */
body {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows:
    [head] 100px
    [title] 210px
    [sub] auto
    [recent] auto
    [foot] 100px;
  row-gap: 20px;
  font-family: sans-serif; /* ゴシック系フォントで表示 */
  color: $kurogakiiro;
}

/* パーツの配置 */
body > * {
  grid-column: 2 / -2;
}

/* ヘッダー */
header {
  grid-row: head;
  justify-self: center;
  align-self: center;
  font-size: 40px;
  color: $konjiki;
}

/* ナビゲーションメニュー */
nav {
  grid-row: head;
  justify-self: center;
  align-self: end;
  ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
    li a {
      @include link_style($font-size: 12px);
    }
  }
}

/* ヒーローイメージ */
.hero {
  grid-column: 1 / -1;
  grid-row: title / span 2;
  img {
    height: 547px;
    object-fit: cover;
    vertical-align: bottom;
    filter: brightness(70%);
    z-index: -1; /* filter適用すると、重なり順が上に来るので、z-indexで重なり順を下にする */
    position: relative; /* Safari で z-index 適用させるため */
  }
}

/* タイトル */
.title {
  grid-row: title;
  justify-content: center;
  align-self: center;
  color: $sakurairo;
  font-size: 48px;
  font-weight: normal;
  line-height: 1.2;
  text-shadow: 0 0 5px $amairo;
  text-align: center;
}

/* サブタイトル */
.subtitle {
  grid-row: sub;
  text-align: center;
  a {
    color: $sakurairo;
    text-decoration: none;
    border: solid 1px $sakurairo;
    padding: 10px 40px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgba($amairo, 0.5);
    &:hover {
      background-color: rgba(darken($amairo, 20%), 0.7);
    }
  }
  img {
    width: 200px;
  }
}

/* 記事一覧 */
section {
  grid-row: recent;
  article h2 {
    text-shadow: 2px 2px 2px $haiiro;
  }
}

/* フッター */
footer {
  grid-row: foot;
}
