/* ページ全体の設定 */
body {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  row-gap: 20px;
  font-family: sans-serif; /* ゴシック系フォントで表示 */
  color: $kurogakiiro;

  height: 100%;
}

/* パーツの配置 */
body > * {
  grid-column: 2 / -2;
}

/* 列の設定 (トップページ)*/
body.top {
  grid-template-rows:
    [head] 100px
    [title] auto
    [sub] auto
    [recent] auto
    [appendix] auto
    [foot] 100px;
}

/* 列の設定 (サイトページ)*/
body.site {
  grid-template-rows:
    [head] 100px
    [kiji] auto
    [submenu] auto
    [foot] 100px;
}

/* デスクトップ版 */
@media(min-width: 768px) {
  body.top {
    grid-template-columns: 0.2fr repeat(6, 1fr) 0.2fr;
    grid-template-rows:
      [head] 100px
      [title sub] auto
      [recent] auto
      [appendix] auto
      [foot] 100px;
    column-gap: 5%;
  }
  body.site {
    grid-template-columns: 0.2fr repeat(6, 1fr) 0.2fr;
    grid-template-rows:
      [head] 100px
      [kiji submenu] auto
      [foot] 100px;
    column-gap: 5%;
    article {
      grid-column: 2 / span 4;
    }
    .submenu {
      grid-column: 6 / span 2;
    }
  }
}
