.post .submenu {
  grid-row: submenu;

  aside {
    border: solid 1px $sumi;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    h2 {
      border-bottom: solid 1px $sumi;
      margin-bottom: 20px;
      padding-bottom: 10px;
      color: $sumireiro;
      font-weight: normal;
      font-family: 'Dancing Script', cursive;
    }
    p {
      font-size: 14px;
    }
    ul {
      grid-row: submenu;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px 10px;
      list-style-type: none;
      padding: 0;
      text-align: left;
    }

    a {
      @include link_style;
      &:hover {
        text-decoration: underline;
      }
      h3 {
        font-size: 14px;
      }
    }
  }
}
