/* 記事一覧 */
section {
  // grid-row: recent;
  &:not(.appendix) {
    grid-row: recent;
  }
  &.appendix {
    grid-row: appendix;
    margin-top: 20px;
  }
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 10px;
  h2 {
    grid-column: 1 / -1;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
  }

  a {
    @include link_style;
    &:hover {
      text-decoration: underline;
    }
    h3 {
      font-size: 14px;
      text-align: center;
    }
  }
}


/* デスクトップ版 */
@media(min-width: 768px) {
  section {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
}
