/* タイトル */
.title {
  grid-row: title;
  justify-content: center;
  align-self: center;
  color: $sakurairo;
  font-size: 44px;
  font-weight: normal;
  line-height: 1.2;
  text-shadow: 0 0 5px $amairo;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

/* サブタイトル */
.subtitle {
  grid-row: sub;
  text-align: center;
  a {
    color: $sakurairo;
    text-decoration: none;
    border: solid 1px $sakurairo;
    padding: 10px 40px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgba($amairo, 0.5);
    &:hover {
      background-color: rgba(darken($amairo, 20%), 0.7);
    }
  }
  img {
    width: 200px;
  }
}

/* デスクトップ版 */
@media(min-width: 768px) {
  .title {
    grid-column: 2 / span 2;
    max-width: 240px;
  }

  .subtitle {
    grid-column: 4 / span 4;
    align-self: center;
    img {
      width: 80%;
      max-width: 320px;
    }
  }
}
