h2 YouTube 埋め込み desu
.


p.lead
  | 「財政破綻するー！」を完全論破　政府の赤字は国民の黒字｜MMT国際シンポジウム特別講演｜三橋貴明
.embed-responsive.embed-responsive-16by9
  iframe.embed-responsive-item src="https://www.youtube.com/embed/kFz1AWzwMsU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true"


p.lead
  | 「財政破綻するー！」を完全論破　政府の赤字は国民の黒字｜MMT国際シンポジウム特別講演｜三橋貴明
.map.youtube style="width: 400px"
  .inner
    iframe src="https://www.youtube.com/embed/kFz1AWzwMsU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true"

css:
  .map {
    box-sizing: border-box;
    width: 100%;
  }
  .map .inner {
    overflow: hidden;
    position: relative;
    padding-top: 150%;
  }
  @media (min-width: 768px) {
    .map .inner {
      padding-top: calc(56.25%);
    }
  }
  .map .inner iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/ <div class="map" style="width: 600px;">
/   <div class="inner">
/     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3264.2239139130525!2d136.95810185211104!3d35.10111928023702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60037bdcb03bb1c9%3A0x63b081ef0426720d!2z44Kx44Oz44K_44OD44Kt44O844OV44Op44Kk44OJ44OB44Kt44Oz6YeO5Lim5bqX!5e0!3m2!1sja!2sjp!4v1587631792147!5m2!1sja!2sjp" width="100%" height="auto" frameborder="1" style="border:0;" allowfullscreen="">
/   </div>
/ </div>
